
*.y
*.5
*.8
*.o
*.la
*.lo

.deps
.dirstamp
.libs

ntpd
openbsd

aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
ylwrap
Makefile
Makefile.in

compat/arc4random.c
compat/arc4random_freebsd.h
compat/arc4random_linux.h
compat/arc4random_osx.h
compat/arc4random_solaris.h
compat/arc4random_uniform.c
compat/arc4random_win.h
compat/chacha_private.h
compat/explicit_bzero.c
compat/getentropy_freebsd.c
compat/getentropy_linux.c
compat/getentropy_osx.c
compat/getentropy_solaris.c
compat/getentropy_win.c
compat/imsg-buffer.c
compat/imsg.c
compat/md5.c
compat/reallocarray.c
compat/strlcat.c
compat/strlcpy.c
compat/strndup.c
compat/strnlen.c
compat/strtonum.c

client.c
config.c
control.c
include/imsg.h
include/md5.h
log.c
ntp.c
ntp.h
ntp_dns.c
ntp_msg.c
ntpd.c
ntpd.h
parse.c
sensors.c
server.c
util.c
