
*.y
*.5
*.8
*.o
*.la
*.lo
*.orig

.deps
.dirstamp
.libs

ntpd
openbsd

aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
ylwrap
Makefile
Makefile.in
openntpd*.tar.gz

compat/arc4random.c
compat/arc4random_*
compat/chacha_private.h
compat/explicit_bzero.c
compat/getentropy_*
compat/imsg-buffer.c
compat/imsg.c
compat/md5.c
compat/reallocarray.c
compat/sha2.c
compat/strlcat.c
compat/strlcpy.c
compat/strndup.c
compat/strnlen.c
compat/strtonum.c

client.c
config.c
constraint.c
control.c
include/imsg.h
include/md5_openbsd.h
include/sha2_openbsd.h
log.c
log.h
ntp.c
ntp.h
ntp_dns.c
ntp_msg.c
ntpd.c
ntpd.h
parse.c
sensors.c
server.c
util.c
